<div id="container">
  <h1>Générateur de Mot de passe</h1>
  <form>
    <h2>Ajoutez un type de caractère en appuyant sur le bouton correspondant, puis validez quand vous êtes satisfait de votre sélection</h2>
    <div class="content">
      <div class="types">
        <button (click)="addCharType('voyelles')">Consonne</button>
        <button (click)="addCharType('consonnes')">Voyelle</button>
        <button (click)="addCharType('chiffres')">Nombre</button>
        <button (click)="addCharType('caracteres_speciaux')">Caractères spéciaux</button>
      </div>
      <div class="inputs" *ngIf="compo.voyelles.selected">
        <label for="voyelles">Ajouter</label>&nbsp;
        <input [(ngModel)]="compo.voyelles.nbr" id="voyelles" name="voyelles" type="number" value="1" step="1" min="1" />&nbsp;Voyelles
      </div>
      <div class="inputs" *ngIf="compo.consonnes.selected">
        <label for="consonnes">Ajouter</label>&nbsp;
        <input [(ngModel)]="compo.consonnes.nbr" id="consonnes" name="consonnes" type="number" value="1" step="1" min="1" />&nbsp;Consonnes
      </div>
      <div class="inputs" *ngIf="compo.chiffres.selected">
        <label for="chiffres">Ajouter</label>&nbsp;
        <input [(ngModel)]="compo.chiffres.nbr" id="chiffres" name="chiffres" type="number" value="1" step="1" min="1" />&nbsp;Chiffres
      </div>
      <div class="inputs" *ngIf="compo.caracteres_speciaux.selected">
        <label for="caracteres_speciaux">Ajouter</label>&nbsp;
        <input [(ngModel)]="compo.caracteres_speciaux.nbr" id="caracteres_speciaux" name="caracteres_speciaux" type="number" value="1" step="1" min="1" />Caractères &nbsp;spéciaux
      </div>
    </div>
    <button (click)="$event.preventDefault();generatePassword()">Générer</button>
  </form>
  <span id="lastPassword">{{ lastPassword }}</span>
</div>
